__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

venv/
.venv/
env/
ENV/

.env

.vscode/
.idea/
.DS_Store

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/


data/

docker-compose.override.yml
